* {
  box-sizing: border-box;
}

:root {
  padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.change-text-color-btn,
.change-color-btn,
.download-btn {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: 0.3s 0.1s linear;
}

.change-text-color-btn {
  background-color: rgb(43, 0, 255);
}

.change-text-color-btn:hover {
  background-color: rgb(153, 0, 255);
}

.change-color-btn {
  background-color: rgb(255, 238, 0);
}

.img {
  max-width: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.download-btn {
  background: linear-gradient(to right, #ff99cc 17%, #ffff99 113%);
  align-content: flex-start;
}

.user-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  background-color: #efedb8;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 3px 4px rgb(166, 164, 164);
}

.name-surname {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}

.user-photo {
  max-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.bth,
.nick,
.likes {
  font-size: 18px;
  padding: 5px;
}
